th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    tr:hover {background-color: coral;}

  }

  .categories-table {
    width: 100%;
    border-collapse: collapse; /* Kenarları birleştir */
}

.categories-table th,
.categories-table td {
    border: 1px solid #ddd; /* Kenarları ekle */
    padding: 8px; /* İç boşluk */
}

.categories-table th {
    background-color: #f2f2f2; /* Başlık arka plan rengi */
    text-align: left; /* Sol hizala */
}

.categories-table tr:hover {
    background-color: #f5f5f5; /* Hover efekti */
}

.table-row { /* Yeni stil sınıfı */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; /* İç boşluk */
    border-bottom: 1px solid #ccc; /* Alt kenar */
}

.table-cell { /* Yeni stil sınıfı */
    flex: 1;
    padding: 8px; /* İç boşluk */
    text-align: left; /* Sol hizala */
}
.categories-table {
    width: 100%;
    border-collapse: collapse;
}

.categories-table th, .categories-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-row:hover {
    background-color: #f1f1f1; /* Hover efekti */
}
